DISCORD_TOKEN=your bot's token
APPLICATION_ID=your bot's application id
DATABASE_URL="postgresql://databaseurl"
DEV=true/false (this env var is optional)
DEVIDS=list of userids that can run commands when in dev mode (this env var is optional)
KUMA_PUSH_URL=single push URL/multiple URLs in shard order (this env var is optional)
SHARD_COUNT=number of shards, if not provided it will use discords recommendation (this env var is optional)