DISCORD_TOKEN=# Your bot's Discord API token
APPLICATION_ID=# Your bot's Discord Application ID
DATABASE_URL=# postgresql://postgres:postgres@localhost:5432/postgres
REDIS_URL=# redis://localhost:6379, used to schedule things like unbans

STATUS= # The status on the bot shown left of the shard # if enabled below (if you want to rotate the status every 60s, comma seperate multiple) (this env var is optional)
SHARD_STATUS= # true/false, shows the shard count next to the status (this env var is optional)
SUGGESTIONS_URL=# Link shown by /suggest for users to submit suggestions (this env var is optional)
DEV=false # true/false, enables developer-only commands
DEVIDS=# List of user ID's that can run commands when in dev mode (optional)
KUMA_PUSH_URL=# Single push URL/multiple URLs in shard order (optional)
SHARD_COUNT=# Number of shards, if not provided it will use Discord's recommendation (this env var is optional)
LIMITS=false # please keep this as false but if set to true it will enable limits (this env var is optional)
MODERATORS=# list of user ID's that are considered global moderators (optional but highly recommended if you want to moderate the bot for others)

BETTER_AUTH_SECRET=# random string used by better auth

OTEL_EXPORTER_OTLP_ENDPOINT=# SigNoz ingest URL
#OTEL_EXPORTER_OTLP_HEADERS= for SigNoz Cloud only
OTEL_SERVICE_NAME=questbot
